body {
    margin: 0;

}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;


}

.top-container {
    text-align: center;
    padding: 50px;
    background: rgb(17,138,126);
    background: radial-gradient(circle, rgba(17,138,126,0.8071603641456583) 54%, rgba(31,111,120,1) 100%);

}



h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: #93e4c1;

}



.subheading {
    color: #93e4c1;
}
    
h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #b1f1d5;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}


.profile-photo {
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;

}

.profile_container {

    margin-bottom: 50px;

}

.my-skills {
    display: inline-flex;
}

.skills h2 {


}

.skills-ul {
    margin-top: 95px;
    text-align: left;
}

.skills-image img {
    margin-top: 20px;
}

.languages {
    display: inline-flex;


}

.languages h2 {
    margin-top: 50px;

}

.languages-ul {
    margin-top: 180px;
    text-align: left;
}

.languages-image img {
    margin-top: 20px;
}

.work h2 {
    margin-top: 50px;
    text-align: center;
}

.work {
    text-align: left;
    width: 60%;

}

.work li {
    margin-top: 30px;
    
}

.education {
    display: inline-flex;

}


.education h2 {
    text-align: center;

}

.education-ul {
    margin-top: 50px;
    text-align: left;
}

.courses {
    display: inline-flex;

}

.courses h2 {
    margin-top: 50px;


}

.courses-ul {
    margin-top: 85px;
    text-align: left;
}

.courses-image img {
    margin-top: 30px;
}



.contact {
    margin: 50px;

}

.contact h2 {
    padding-bottom: 20px;
}
.bottom-container {
    padding: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(17,138,126);
    background: radial-gradient(circle, rgba(17,138,126,0.8071603641456583) 54%, rgba(31,111,120,1) 100%);
}

.e-mail {
    font-size: 1rem;
    color: #3baea0;
}
    

.links {
    color: #93e4c1;
    padding: 15px;

}

.copyright {
    color: #b1f1d5;
    text-align: center;
}










