body {
    font-family: Quicksand, sans-serif;
    text-align: center;
    min-width: 500px;
}




.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#top-container {
    background: rgb(59,174,160);
    background: radial-gradient(circle, rgba(59,174,160,1) 67%, rgba(31,111,120,1) 100%);
    height: 400px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
}


#heading {
    padding-top: 100px;

}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: #118a7e;

}

h2 {
    font-size: 2rem;
    color: #93e4c1;
}

p {
    font-size: 1rem;
    color: #1f6f78;
}


#middle-container {
    margin: 100px auto 0 auto;
    width: 50%;
}



.profile-photo {
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.profile {
    margin-bottom: 50px;

}

.skills h2 {
    margin-top: 150px;

}

h3 {
    color: #3baea0;
    font-size: 1rem;
    text-align: left;

}


.skills-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    min-height: fit-content;
    width: 100%;
    justify-content: center;

}

.programming, .gardening {
    margin-right:50px;
    margin-top: 18px;
}

.skills-text {
    text-align: left;
}

#contact {
    margin-top: 150px;
}

.e-mail {
    font-size: 1rem;
    color: #1f6f78;
}
    



#bottom-container {

    background: rgb(59,174,160);
    background: radial-gradient(circle, rgba(59,174,160,1) 67%, rgba(31,111,120,1) 100%);
    height: 150px;
    margin-top: 120px;
    padding-top: 45px;
}

.links {
    color: #93e4c1;
    margin-left: 30x;
    margin-right: 25px;

}











